*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.logo_patachou{
 
}
 

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
    




