*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    background-color: #ffffff;
}
/*.container{
    max-width: 1200px;
    margin-inline: auto;
}*/
.body{
    height: 100%;
   width: 100%;
}
.img{
   max-width: 100%;
   height: 100%;
}



.nav__menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-family:'poppins'; 
    margin-bottom: 10px;
    }
.accueil{
    color:#AB864C

}
.section__introduction_1{
    font-family: 'kaisei Decol';
    font-weight: 600;
    font-size: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
   margin-bottom: 50px;
    margin-top: 50px;
}
.section__introduction_2{
    font-weight: 600;
    font-family: 'kaisei Decol';
    margin-bottom: 50px;
}
.section__introduction_3{
    border: 1px solid black;
    padding: 5px;
    width:auto;
    font-family: 'poppins';
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    align-self: center;

    margin-bottom: 50px;
}
    
    
  




